.benefits{
  margin-top: 5rem;
  position: relative;
  @include respond-above(sm){
    margin-top: 0;
  }
  &__row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    @include respond-above(sm){
      grid-template-columns: repeat(4,1fr);
    }
    span:first-child{
      grid-row: 1;
      grid-column: 1/-1;
      @include respond-above(sm){
        grid-row: auto;
        grid-column: auto;
      }
    }
    span:last-child{
      @include respond-above(sm){
        background: $secondary-color;
        
      }
    }
    &.separation{
        border-top: 2px solid $black-color;
        border-bottom: 1px solid #d8d8d8;
        text-align: center;
        @include respond-above(sm){
          border-bottom: 2px solid $black-color;
          border-top: 0;
          text-align: left;
        }
    }
    &.item{
      border-bottom: 1px solid #d8d8d8;
    }
  }
  &__fixed{
    position: sticky;
    top: 0;
    background: $white-color;
    border-bottom: 2px solid $black-color;
    @include respond-above(sm){
      position: relative;
      top: unset;
      background: transparent;
    }
  }
  &__cell{
    display: flex;
    padding: 1.45rem 1rem .75rem;
    align-items: center;
    flex-direction: column;
    text-align: center;
    @include respond-above(sm){
      flex-direction: row;
    }
    &--big{
      padding: 1rem .575rem;
      text-align: center;
      @include respond-above(sm){
        padding: 3.567rem 1.875rem;
        text-align: left;
      }
    }
    &.title{
      grid-row: 0;
      padding-left: 0;      
      text-align: center;
      justify-content: center;
      @include respond-above(sm){
        text-align: left;
        justify-content: flex-start;
      }
    }
    p{
      color: $gray-color;
    }
  }
  &__icon{
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
  }
  &__title{
    font-size: 1.4rem;
    font-family: $heading-font;
    padding: 2rem 1rem .5rem;
    text-align: center;
    border-top: 1px solid #d8d8d8;
    @include respond-above(sm){
      padding: 2rem 1rem;
      font-size: 2rem;
      border-top: 0;
    }
    @include respond-above(md){
      font-size: 2.4rem;
      text-align: left;
    }
    &:not(:last-child){
      border-right: 1px solid #d8d8d8;
      @include respond-above(sm){
        border-right: 0;
      }
    }
  }
  &__sub-title{
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 700;
    &.padding-top{
      @include respond-above(sm){
        padding-top: 5rem;        
      }
    }
  }
}