.figure {
  display: flex;
  flex-direction: column;
  &__caption {
    color: #9da0a2;
    padding-left: 1.6875rem;
    @include respond-above(sm){
      padding-left: 4.625rem;
    }
    @include respond-above(lg){
      padding-left: 10.65rem;

    }
  }
}
