*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    // font-size: 62.5%;
    font-size: 75%;
    @include respond-below(xxxs){
        font-size: 62.5%;
    }
    @include respond-above(sm){
    }
    @include respond-above(md){
        font-size: 87.5%;
    }
    @include respond-above(xl){
        font-size: 100%;
    }
}
body{
    box-sizing: border-box;
}
a,a:visited,a:focus{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
  }
  img{
      max-width: 100%;
  }