*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 87.5%;
}
body{
    box-sizing: border-box;
}
a,a:visited,a:focus{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
  }
  img{
      max-width: 100%;
  }