.home{
  &__header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../images/Home_Hero_Mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @include respond-above(md){
      background-image: url(../images/Benona_Home_header.jpg);
    }
    .heading-1{
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      color: $white-color;
      transform: translateY(-50%);
    }
  }

  &__article{
    padding: 3.375rem 1.6875rem 4.625rem 3.375rem;
    
    @include respond-above(sm){
      padding: 6.625rem 0 4.625rem 2.625rem;
      max-width: 55%;
    }
    @include respond-above(md){
      padding: 6.625rem 0 4.625rem 4.625rem;
    }
    @include respond-above(lg){
      padding: 11.5625rem 0 10rem 10.9375rem;
    }
  }
}