/*COLORS*/

$primary-color: #347169;
$secondary-color: #E2D0B7;

$white-color: #fff;
$black-color: #000;
$gray-color: #9DA0A2;
$gray-dark-color: #322f31;

/*FONTS*/
$heading-font: 'DM Serif Display', serif;
$regular-font: 'Montserrat', sans-serif;