.header{
  &__article{
    padding: 2.5rem 1.6875rem;
    @include respond-above(sm){
      padding: 2.5rem 4.625rem;
    }
    @include respond-above(md){
      padding: 2.5rem 10.625rem;
    }
  }
  .heading-2{
    @include respond-above(sm){
      max-width: 65%;

    }
  }
  &__figure{
    margin-top: 2rem;
    display: block;
  }
  &__image{
    max-width: 100%;
  }
}