.navbar{
  display: flex;
  padding: 2.5rem 2.625rem;
  align-items: center;
  background: none;
  @include respond-above(md){
    padding: 2.5rem 4.625rem;
  }
  @include respond-above(lg){
    padding: 2.5rem 10.625rem;
  }
  &__nav{
    flex: 1;
    display: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    @include respond-above(sm){
      display: flex;
    }
  }
  &__item{
    &:first-child{
      margin-left: auto;
    }
    &:not(:last-child){
      margin-right: 2.5rem;
    }
    &--last{
      position: relative;
      margin-left: auto;
      display: flex;
      flex-direction: column;
    }
  }
  &__link{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    &--border{
      padding: 1rem;
      border: 1px solid #322f31;
    }
    &--small{
      top: -36px;
      position: absolute;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #9DA0A2;
    }
  }
}