@charset "UTF-8";
/*ABSTRACS*/
/*RESPONSIVE QUERIES*/
/*MIXINS*/
/*COLORS*/
/*FONTS*/
/*VENDORS*/
/* Slider */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat&display=swap");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide:focus {
  outline: none;
  border: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Dots */
/*BASE*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%;
}
@media (max-width: 22.4375em) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 61.9375em) {
  html {
    font-size: 87.5%;
  }
}
@media (min-width: 89.9375em) {
  html {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
}

a, a:visited, a:focus {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.heading-3, .heading-2, .heading-1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4rem;
  letter-spacing: 3px;
}
.heading-2 {
  font-size: 2.125rem;
  line-height: 1.4;
}
.heading-3 {
  font-size: 1.5rem;
}
.heading-4 {
  text-transform: uppercase;
  color: #9DA0A2;
  font-size: 1rem;
}
.heading-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.5;
}
@media (min-width: 47.9375em) {
  .paragraph {
    font-size: 1rem;
  }
}
.paragraph--big {
  font-size: 1.4rem;
  margin-top: 0.25rem;
}

.link {
  text-transform: uppercase;
  font-size: 0.8rem;
  border-bottom: 1px solid currentColor;
  padding: 0.5rem 0;
  font-weight: 700;
  transition: 0.5s all;
}
.link:hover {
  font-size: 0.85rem;
}
.link--flex {
  font-size: 1rem;
  display: inline-flex;
  align-items: flex-end;
  font-family: "DM Serif Display", serif;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid currentColor;
}
.link--flex:hover .link__icon {
  transform: translateY(-20%) translateX(0.5rem);
}
.link__icon {
  margin-left: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  transform: translateY(-20%);
  fill: currentColor;
  transition: 0.5s all;
}

/*COMPONENTS*/
.banner {
  padding: 2.875rem 1.6875rem 2.875rem;
  background: #347169;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30rem;
}
@media (min-width: 47.9375em) {
  .banner {
    padding: 6.875rem 10rem;
    min-height: auto;
  }
}
.banner .heading-2 {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
@media (min-width: 47.9375em) {
  .banner .heading-2 {
    margin-bottom: 2rem;
    margin-top: 0;
  }
}
.banner--top {
  padding: 1rem;
  background: rgba(157, 160, 162, 0.11);
}
.banner__title {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.banner__nav {
  display: flex;
}
.banner__item:not(:last-child) {
  margin-right: 2rem;
}
.banner__link {
  color: #fff;
}
.banner__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.benefits {
  margin-top: 5rem;
  position: relative;
}
@media (min-width: 47.9375em) {
  .benefits {
    margin-top: 0;
  }
}
.benefits__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 47.9375em) {
  .benefits__row {
    grid-template-columns: repeat(4, 1fr);
  }
}
.benefits__row span:first-child {
  grid-row: 1;
  grid-column: 1/-1;
}
@media (min-width: 47.9375em) {
  .benefits__row span:first-child {
    grid-row: auto;
    grid-column: auto;
  }
}
@media (min-width: 47.9375em) {
  .benefits__row span:last-child {
    background: #E2D0B7;
  }
}
.benefits__row.separation {
  border-top: 2px solid #000;
  border-bottom: 1px solid #d8d8d8;
  text-align: center;
}
@media (min-width: 47.9375em) {
  .benefits__row.separation {
    border-bottom: 2px solid #000;
    border-top: 0;
    text-align: left;
  }
}
.benefits__row.item {
  border-bottom: 1px solid #d8d8d8;
}
.benefits__fixed {
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 2px solid #000;
}
@media (min-width: 47.9375em) {
  .benefits__fixed {
    border-bottom: 0;
    position: relative;
    top: unset;
    background: transparent;
  }
}
.benefits__cell {
  display: flex;
  padding: 1.45rem 1rem 0.75rem;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 47.9375em) {
  .benefits__cell {
    flex-direction: row;
  }
}
.benefits__cell--big {
  padding: 1rem 0.575rem;
  text-align: center;
}
@media (min-width: 47.9375em) {
  .benefits__cell--big {
    padding: 3.567rem 1.875rem;
    text-align: left;
  }
}
.benefits__cell.title {
  grid-row: 0;
  padding-left: 0;
  text-align: center;
  justify-content: center;
}
@media (min-width: 47.9375em) {
  .benefits__cell.title {
    text-align: left;
    justify-content: flex-start;
  }
}
.benefits__cell p {
  color: #9DA0A2;
}
.benefits__icon {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
.benefits__title {
  font-size: 1.4rem;
  font-family: "DM Serif Display", serif;
  padding: 2rem 1rem 0.5rem;
  text-align: center;
  border-top: 1px solid #d8d8d8;
}
@media (min-width: 47.9375em) {
  .benefits__title {
    padding: 2rem 1rem;
    font-size: 2rem;
    border-top: 0;
  }
}
@media (min-width: 61.9375em) {
  .benefits__title {
    font-size: 2.4rem;
    text-align: left;
  }
}
.benefits__title:not(:last-child) {
  border-right: 1px solid #d8d8d8;
}
@media (min-width: 47.9375em) {
  .benefits__title:not(:last-child) {
    border-right: 0;
  }
}
.benefits__sub-title {
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-weight: 700;
}
@media (min-width: 47.9375em) {
  .benefits__sub-title {
    padding: 1rem 0;
  }
}
@media (min-width: 47.9375em) {
  .benefits__sub-title.padding-top {
    padding-top: 5rem;
  }
}

.carousel {
  position: relative;
}
.carousel .slick-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
@media (min-width: 47.9375em) {
  .carousel .slick-dots {
    bottom: 1.5rem;
  }
}
.carousel .slick-dots li:not(:last-child) {
  margin-right: 0.5rem;
}
.carousel .slick-dots li button {
  position: relative;
  background: transparent;
  border: 0;
  height: 1.5rem;
  width: 1.5rem;
  outline: none;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
}
.carousel .slick-dots li button:hover:before, .carousel .slick-dots li button:focus:before {
  opacity: 0.55;
}
.carousel .slick-dots li button:before {
  content: "•";
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 2rem;
  color: #fff;
}
.carousel .slick-dots.slick-active button:before {
  opacity: 0.5;
}

.carousel-rate {
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 47.9375em) {
  .carousel-rate {
    padding: 0 1rem;
  }
}
.carousel-rate__item {
  margin-bottom: 1rem;
}
.carousel-rate__item:not(:last-child) {
  padding-right: 1rem;
}
@media (min-width: 47.9375em) {
  .carousel-rate__item:not(:last-child) {
    padding-right: 1.875rem;
  }
}
.carousel-rate .slick-dots {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.carousel-rate .slick-dots li:not(:last-child) {
  margin-right: 0.5rem;
}
.carousel-rate .slick-dots li button {
  position: relative;
  background: transparent;
  border: 0;
  height: 1.5rem;
  width: 1.5rem;
  outline: none;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
}
.carousel-rate .slick-dots li button:hover:before, .carousel-rate .slick-dots li button:focus:before {
  opacity: 0.55;
}
.carousel-rate .slick-dots li button:before {
  content: "•";
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 2rem;
  color: #000;
}
.carousel-rate .slick-dots.slick-active button:before {
  opacity: 0.5;
}

.event {
  margin-top: 5rem;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.event__item {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  padding: 3rem 0;
}
@media (min-width: 47.9375em) {
  .event__item {
    grid-template-columns: 1fr 4fr;
    padding: 2rem 0;
  }
}
.event__item:not(:last-child) {
  border-bottom: 1px solid #d8d8d8;
}
@media (min-width: 47.9375em) {
  .event__article {
    max-width: 65%;
  }
}
.event__paragraph {
  text-transform: uppercase;
}

.figure {
  display: flex;
  flex-direction: column;
}
.figure__caption {
  color: #9da0a2;
  padding-left: 1.6875rem;
}
@media (min-width: 47.9375em) {
  .figure__caption {
    padding-left: 4.625rem;
  }
}
@media (min-width: 74.9375em) {
  .figure__caption {
    padding-left: 10.65rem;
  }
}

.icon {
  width: 0.8rem;
  height: 0.8rem;
  fill: currentColor;
}

.logo--header {
  width: 6.375rem;
}
.logo--footer {
  width: 6rem;
}

.rates {
  margin-top: 2rem;
  margin-bottom: 3rem;
  /*TABS NAVIGATION*/
  /*ITEMS*/
}
.rates__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 3.125rem;
}
.rates__nav-item:not(:last-child) {
  margin-right: 4.375rem;
}
.rates__nav-button {
  border: none;
  background: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.35rem 0;
  cursor: pointer;
  transition: all 0.5s;
}
.rates__nav-button:focus {
  outline: none;
}
.rates__nav-button.active {
  font-weight: 700;
  border-bottom: 2px solid #000;
}
.rates__nav-button:hover {
  font-weight: 700;
}
.rates__container {
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  margin-bottom: 2rem;
}
@media (min-width: 47.9375em) {
  .rates__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .rates__container .rates__item {
    grid-column: 2/3;
  }
}
.rates__toggle {
  display: none;
}
.rates__toggle.active {
  display: flex;
  flex-direction: column;
  animation: opacity ease-in;
  animation-duration: 0.25s;
}
.rates__item {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.11);
  min-height: 31.14rem;
}
.rates__header {
  padding: 1.875rem;
  background: #E2D0B7;
}
.rates__body {
  padding: 0 1.875rem;
  padding-bottom: 2rem;
}
.rates__body-item {
  padding: 1.875rem 0 1rem;
}
.rates__body-item:first-child {
  border-bottom: 1px solid #d8d8d8;
}
.rates__body-item:nth-child(2) {
  margin-bottom: 2rem;
}
.rates__list {
  margin-top: 1rem;
  display: flex;
  list-style: none;
}
.rates__list-item {
  display: flex;
  flex-direction: column;
}
.rates__list-item:not(:last-child) {
  margin-right: 3.125rem;
}
.rates__paragraph {
  font-weight: 700;
}
.rates__small {
  font-size: 0.8rem;
}
.rates__price {
  font-family: "DM Serif Display", serif;
  font-size: 1.8rem;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.summary {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 3;
  margin-top: 2rem;
}
@media (min-width: 47.9375em) {
  .summary {
    padding-left: 5rem;
    grid-row: auto;
    margin-top: 0;
  }
}
.summary__item:not(:last-child) {
  margin-bottom: 2rem;
}
@media (min-width: 47.9375em) {
  .summary__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.table {
  width: 100%;
  font-family: inherit;
  border-spacing: 0;
  margin-top: 6rem;
  margin-bottom: 1rem;
}
.table th {
  text-align: left;
  text-transform: uppercase;
  color: #9DA0A2;
  padding: 0.6rem 1rem;
  border-bottom: 1px solid #9DA0A2;
}
.table td {
  padding: 1rem 1rem 1.2rem;
  border-bottom: 1px solid #9DA0A2;
}
.table__title {
  text-transform: uppercase;
}
.table .hidden {
  display: none;
}

/*LAYOUT*/
.footer {
  background: rgba(157, 160, 162, 0.1);
  padding: 3rem 1.6875rem 3.125rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 12.5rem auto;
  row-gap: 3rem;
}
@media (min-width: 47.9375em) {
  .footer {
    grid-template-columns: 1fr 2fr;
    padding: 3rem 4.625rem 3.125rem;
  }
}
@media (min-width: 61.9375em) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 74.9375em) {
  .footer {
    padding: 3rem 10.625rem 3.125rem;
  }
}
.footer__contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 47.9375em) {
  .footer__contact {
    flex-wrap: nowrap;
  }
}
.footer__schedule {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-between;
}
@media (min-width: 47.9375em) {
  .footer__schedule {
    flex-wrap: nowrap;
  }
}
.footer__networks {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 47.9375em) {
  .footer__networks {
    flex-direction: row;
  }
}
.footer__networks li:not(:last-child) {
  margin-bottom: 1rem;
}
@media (min-width: 47.9375em) {
  .footer__networks li:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer__detail:not(:last-child) {
  margin-bottom: 2rem;
}
@media (min-width: 47.9375em) {
  .footer__detail:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer__list-contact li {
  font-size: 1.5rem;
}
.footer__list-season {
  flex: 0 0 50%;
  margin-bottom: 2rem;
}
@media (min-width: 47.9375em) {
  .footer__list-season {
    flex: auto;
    margin-bottom: 0;
  }
}
.footer__list-season li:first-child {
  margin-bottom: 0.5rem;
}
.footer__copy {
  grid-row: 6;
}
@media (min-width: 47.9375em) {
  .footer__copy {
    grid-row: auto;
  }
}
.footer__sep {
  display: none;
}
@media (min-width: 47.9375em) {
  .footer__sep {
    display: block;
  }
}

.header__article {
  padding: 2.5rem 1.6875rem;
}
@media (min-width: 47.9375em) {
  .header__article {
    padding: 2.5rem 4.625rem;
  }
}
@media (min-width: 61.9375em) {
  .header__article {
    padding: 2.5rem 10.625rem;
  }
}
@media (min-width: 47.9375em) {
  .header .heading-2 {
    max-width: 65%;
  }
}
.header__figure {
  margin-top: 2rem;
}
.header__image {
  max-width: 100%;
}

.navbar {
  display: flex;
  padding: 2.5rem 2.625rem;
  align-items: center;
  background: none;
}
@media (min-width: 61.9375em) {
  .navbar {
    padding: 2.5rem 4.625rem;
  }
}
@media (min-width: 74.9375em) {
  .navbar {
    padding: 2.5rem 10.625rem;
  }
}
.navbar__nav {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
@media (max-width: 47.9375em) {
  .navbar__nav.mobile {
    flex-direction: column;
    position: absolute;
    padding: 3rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #322f31;
    color: #fff;
    z-index: 100;
    transform: translateX(-100%);
    transition: 0.5s all;
  }
}
.navbar__nav.active {
  transform: translateX(0);
}
.navbar__toggle {
  margin-left: auto;
  background: none;
  border: none;
}
.navbar__toggle:focus {
  outline: none;
}
.navbar__toggle svg {
  width: 3rem;
  height: 3rem;
}
@media (min-width: 47.9375em) {
  .navbar__toggle {
    display: none;
  }
}
.navbar__close {
  position: absolute;
  top: 2.5rem;
  right: 2.625rem;
  background: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 47.9375em) {
  .navbar__close {
    display: none;
  }
}
.navbar__close:focus {
  outline: none;
}
.navbar__close svg {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}
.navbar__navigation:first-child {
  margin: auto 0;
}
@media (min-width: 47.9375em) {
  .navbar__navigation:first-child {
    margin: 0 auto;
    transform: translateX(15%);
  }
}
@media (min-width: 47.9375em) {
  .navbar__navigation {
    display: flex;
    align-items: center;
  }
}
.navbar__item {
  text-align: center;
}
.navbar__item:not(:last-child) {
  margin-bottom: 3.5rem;
}
@media (min-width: 47.9375em) {
  .navbar__item:not(:last-child) {
    margin-right: 2.5rem;
    margin-bottom: 0;
  }
}
.navbar__item--last {
  position: relative;
  display: flex;
  flex-direction: column;
}
.navbar__link {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  transition: all 0.5s;
}
@media (min-width: 47.9375em) {
  .navbar__link {
    font-size: 1rem;
  }
}
.navbar__link:hover {
  font-size: 1.1rem;
}
.navbar__link--border {
  padding: 1rem;
  border: 1px solid #d8d8d8;
}
@media (min-width: 47.9375em) {
  .navbar__link--border {
    border-color: #322f31;
  }
}
.navbar__link--small {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #9da0a2;
  justify-content: center;
}
@media (min-width: 47.9375em) {
  .navbar__link--small {
    top: -36px;
    position: absolute;
    margin-top: 0;
  }
}

body.no-scroll {
  overflow: hidden;
}

.section--npadding, .section--grid-3, .section--grid, .section {
  padding: 3.375rem 1.6875rem 3.125rem;
}
@media (min-width: 47.9375em) {
  .section--npadding, .section--grid-3, .section--grid, .section {
    padding: 8.75rem 4.625rem 3.125rem;
  }
}
@media (min-width: 74.9375em) {
  .section--npadding, .section--grid-3, .section--grid, .section {
    padding: 8.75rem 10.625rem 3.125rem;
  }
}

.section--gray {
  background: rgba(157, 160, 162, 0.1);
}
.section--black {
  background: #322f31;
  color: #fff;
}
.section--grid {
  background: rgba(157, 160, 162, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
@media (min-width: 47.9375em) {
  .section--grid {
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 61.9375em) {
  .section--grid {
    grid-template-columns: 1fr 1fr;
  }
}
.section--grid-3 {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 47.9375em) {
  .section--grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.section--banner {
  padding-top: 0;
}
@media (max-width: 47.9375em) {
  .section--table {
    padding: 0;
  }
}
@media (max-width: 47.9375em) {
  .section--npadding {
    padding-left: 0;
    padding-right: 0;
  }
}
.section__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 61.9375em) {
  .section__column {
    padding-left: 7rem;
  }
}
.section__figure img {
  max-width: 100%;
}
.section__article {
  margin-bottom: 1rem;
}
@media (min-width: 47.9375em) {
  .section__article {
    padding-right: 6.5rem;
    margin-bottom: 0;
  }
}
.section__card {
  text-align: center;
  padding: 2rem 4.125rem 2rem;
}
@media (min-width: 47.9375em) {
  .section__card {
    padding: 0 2.125rem 1rem;
  }
}
@media (min-width: 61.9375em) {
  .section__card {
    padding: 0 4.125rem 1rem;
  }
}
.section__card:not(:last-child) {
  border-bottom: 1px solid #000;
}
@media (min-width: 47.9375em) {
  .section__card:not(:last-child) {
    border-right: 1px solid #000;
    border-bottom: 0;
  }
}
.section__card .heading-2 {
  padding: 0 1rem;
}

/*PAGES*/
.golf__hole {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  background: #322f31;
  height: auto;
}
@media (min-width: 61.9375em) {
  .golf__hole {
    grid-template-columns: 1.5fr 1fr;
  }
}
.golf__article {
  color: #fff;
  padding: 4.6875rem 1.6875rem 0;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.golf__article .heading-2 {
  text-align: center;
}
@media (min-width: 47.9375em) {
  .golf__article .heading-2 {
    text-align: left;
  }
}
@media (min-width: 47.9375em) {
  .golf__article {
    padding: 4.6875rem 4.625rem 0;
  }
}
@media (min-width: 74.9375em) {
  .golf__article {
    padding: 4.6875rem 10.625rem 0;
    overflow-y: scroll;
    max-height: 99%;
  }
}
.golf__article::-webkit-scrollbar {
  width: 8px;
}
.golf__article::-webkit-scrollbar-track {
  background: #322f31;
}
.golf__article::-webkit-scrollbar-thumb {
  background: #d8d8d8;
}
.golf__article::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.golf__image {
  max-width: 100%;
}
.golf__button {
  margin-top: 3rem;
  margin-bottom: 1rem;
  background: transparent;
  border: none;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #fff;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}
@media (min-width: 61.9375em) {
  .golf__button {
    display: none;
  }
}
.golf__button.hidden {
  display: none;
}

.home__header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/Home_Hero_Mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 61.9375em) {
  .home__header {
    background-image: url(../images/Benona_Home_header.jpg);
  }
}
.home__header .heading-1 {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  color: #fff;
  transform: translateY(-50%);
}
.home__article {
  padding: 3.375rem 1.6875rem 4.625rem 3.375rem;
}
@media (min-width: 47.9375em) {
  .home__article {
    padding: 6.625rem 0 4.625rem 2.625rem;
    max-width: 55%;
  }
}
@media (min-width: 61.9375em) {
  .home__article {
    padding: 6.625rem 0 4.625rem 4.625rem;
  }
}
@media (min-width: 74.9375em) {
  .home__article {
    padding: 11.5625rem 0 10rem 10.9375rem;
  }
}

/*MARGIN*/
.mt-sm {
  margin-top: 1rem;
}
.mt-md {
  margin-top: 2rem;
}
.mt-lg {
  margin-top: 1rem;
}
@media (min-width: 47.9375em) {
  .mt-lg {
    margin-top: 4rem;
  }
}

.mr-xs {
  margin-right: 0.5rem;
}

/*PADDING*/
.pl-sm {
  padding-left: 5rem;
}

/*TEXT ALIGN*/
.text-center {
  text-align: center;
}

/*DISPLAY*/
.flex {
  display: flex;
}
.flex--center {
  justify-content: center;
}