/*ABSTRACS*/
@import "abstracts/mixins";
@import "abstracts/variables";
/*BASE*/
@import "base/base";
@import "base/typography";
/*COMPONENTS*/
@import "components/banner";
@import "components/benefits";
@import "components/event";
@import "components/figure";
@import "components/icon";
@import "components/logo";
@import "components/rates";
@import "components/summary";
@import "components/table";

/*LAYOUT*/
@import "layout/footer";
@import "layout/header";
@import "layout/navbar";
@import "layout/section";

/*PAGES*/
@import "pages/golf";
@import "pages/home";



@import "base/utils";